<?xml version="1.0" ?>
<!--
  Manipulator specific version of 'robot_interface_streaming.launch'.

  Defaults provided for mpl80:
   - 5 joints

  Usage:
    robot_interface_streaming_mpl80.launch robot_ip:=<value> controller:=<dx200>
-->
<launch>
  <arg name="robot_ip" />

  <!-- controller: Controller name (dx200) -->
  <arg name="controller" />

  <rosparam command="load" file="$(find motoman_mpl_support)/config/joint_names_mpl80.yaml" />

  <include file="$(find motoman_driver)/launch/robot_interface_streaming_$(arg controller).launch">
    <arg name="robot_ip" value="$(arg robot_ip)" />
  </include>
</launch>
