<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
<xacro:macro
    name="motoman_motopos_mh185_rotisserie"
    params=
        "prefix
        world_base_xyz:='0 0 0'
        world_base_rpy:='0 0 0'
        offsets_file_path"
>
  <xacro:property name="M_PI" value="3.1415926535897931"/>

<xacro:property name="pos2b_tf" value="${load_yaml('$(find motoman_motopos_mh185_rotisserie_support)/config/positioner_params.yaml')}"/>
  <xacro:property name="pos2b_trans" value="${pos2b_tf['positioner_params']['positioner_to_base_tf']['translation']}" />
  <xacro:property name="pos2b_rot" value="${pos2b_tf['positioner_params']['positioner_to_base_tf']['rotation']}" />
  <xacro:property name="pos2b_xyz" value="${pos2b_trans['x']} ${pos2b_trans['y']} ${pos2b_trans['z']}"/>
  <xacro:property name="pos2b_rpy" value="${pos2b_rot['roll']} ${pos2b_rot['pitch']} ${pos2b_rot['yaw']}"/>

  <!-- Tailstock offsets. Should be loaded from yaml file created during calibration. -->
  <xacro:property name="ts_base_offset" value="0.06985" />
  <xacro:property name="ts_revolute_offset" value="${pos2b_tf['positioner_params']['tailstock_revolute_offset']}" />
  <xacro:property name="hs_prismatic_offset" value="${pos2b_tf['positioner_params']['headstock_prismatic_offset']}"/>


  
  <!-- Define a fixed joint macro -->
  <xacro:macro name="fixed_joint_macro" params="name origin_xyz origin_rpy parent child axis_xyz">
    <joint name="joint_${name}" type="fixed">
      <origin xyz="${origin_xyz}" rpy="${origin_rpy}" />
      <parent link="${parent}" />
      <child link="${child}" />
      <axis xyz="${axis_xyz}" />
    </joint>
  </xacro:macro>

  <!-- link list -->
  
  <!-- Add the headstock - hs_base_link, hs_revolute_link, hs_prismatic_link -->
  <xacro:include filename="$(find motoman_motopos_mh185_rotisserie_support)/urdf/tailstock/tailstock.urdf.xacro" ns="ts" />
  <xacro:include filename="$(find motoman_motopos_mh185_rotisserie_support)/urdf/headstock/headstock.urdf.xacro" ns="hs" />
  <!-- And connect positioner_link to base_link -->
  <!-- hs_base - positioner_link->base_link -->
  

  <xacro:fixed_joint_macro name="hs_base"
                           origin_xyz="${pos2b_xyz}"
                           origin_rpy="${pos2b_rpy}"
                           parent="hs_base_link"
                           child="world"
                           axis_xyz="1 0 0" />

  <!-- Connect the tail stock to the headstock -->
  <!-- the base and prismatic joints should be connected to a non-rotating link, i.e. the headstock base link -->
  <xacro:fixed_joint_macro name="ts_base"
                           origin_xyz="0 0 -${ts_base_offset}"
                           origin_rpy="0 0 0"
                           parent="hs_base_link"
                           child="ts_base_link"
                           axis_xyz="1 0 0" />
  <xacro:fixed_joint_macro name="ts_prismatic"
                           origin_xyz="0 0 -${ts_revolute_offset}"
                           origin_rpy="0 0 0"
                           parent="hs_base_link"
                           child="ts_prismatic_link"
                           axis_xyz="1 0 0" />
  <!-- The revolute link should be connected to a rotating link, i.e. the headstock revolute link -->
  <xacro:fixed_joint_macro name="ts_revolute"
                           origin_xyz="0 0 -${ts_revolute_offset}"
                           origin_rpy="0 0 0"
                           parent="hs_revolute_link"
                           child="ts_revolute_link"
                           axis_xyz="1 0 0" />

  

  
  </xacro:macro>
</robot>
