<?xml version="1.0" ?>

 <robot name="motoman_ma1440_mh185_vertical" xmlns:xacro="http://ros.org/wiki/xacro">

	<xacro:arg name="ma1440_xyz" default=""/>
	<xacro:arg name="ma1440_rpy" default=""/>
	<xacro:arg name="mh185_vertical_xyz" default=""/>
	<xacro:arg name="mh185_vertical_rpy" default=""/>
	<xacro:arg name="mount_type" default=""/>
	<xacro:arg name="use_structured_light_gantry" default=""/>
	<xacro:arg name="use_pedestal" default=""/>
	<xacro:arg name="offsets_file_path" default=""/>

	<xacro:include filename="$(find motoman_ma1440_mh185_vertical_support)/urdf/ma1440_mh185_vertical_macro.xacro" />
	<xacro:motoman_ma1440_mh185_vertical
			ma1440_xyz="$(arg ma1440_xyz)"
			ma1440_rpy="$(arg ma1440_rpy)"
			mh185_vertical_xyz="$(arg mh185_vertical_xyz)"
			mh185_vertical_rpy="$(arg mh185_vertical_rpy)"
			mount_type="$(arg mount_type)"
			use_structured_light_gantry="$(arg use_structured_light_gantry)"
			use_pedestal="$(arg use_pedestal)"
			offsets_file_path="$(arg offsets_file_path)"
	/>
</robot>