# Temp files
*~

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*.sdf
*.opensdf
*.sdf
*.suo
motoman_driver/MotoPlus/_ErrorLog.txt
motoman_driver/MotoPlus/MpRosAllControllers.sdf
motoman_driver/MotoPlus/MpRosAllControllers.v11.suo
*.log
motoman_driver/MotoRos - Github driver folder/$tf/8/bef118b8-349a-45c0-8d86-1ae9c03b511e.gz
motoman_driver/MotoRos - Github driver folder/$tf/localversion.tfb
*.log
