<?xml version="1.0" ?>
<robot name="motoman_gp180" xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:include filename="$(find motoman_gp180_support)/urdf/gp180_macro.xacro" />
    <xacro:property name="kinematics_offsets" value="${xacro.load_yaml('$(find motoman_gp180_support)' + '/config/default_kinematic_offsets.yaml')}"/>
    <xacro:motoman_gp180 prefix="" kinematic_offsets="${kinematics_offsets['kinematic_offsets']}"/>
</robot>
