<!--
  Manipulator specific version of 'robot_interface_streaming.launch'.
  Defaults provided for gp180:
   - joints
  Usage:
    robot_interface_streaming_gp180_120.launch robot_ip:=<value> controller:=<yrc1000>
-->
<launch>
  <arg name="robot_ip" />

  <!-- controller: Controller name (yrc1000) -->
  <arg name="controller" />

  <rosparam command="load" file="$(find motoman_gp180_support)/config/joint_names_gp180.yaml" />

  <include file="$(find motoman_driver)/launch/robot_interface_streaming_$(arg controller).launch">
    <arg name="robot_ip" value="$(arg robot_ip)" />
  </include>
</launch>
