<?xml version="1.0" ?>

 <robot name="motoman_ma1440_mh185_rotisserie" xmlns:xacro="http://ros.org/wiki/xacro">

	<xacro:arg name="ma1440_xyz" default="0 0 0"/>
	<xacro:arg name="ma1440_rpy" default="0 0 0 "/>
	<xacro:arg name="mh185_xyz" default="0 0 0"/>
	<xacro:arg name="mh185_rpy" default="0 0 0"/>
	<xacro:arg name="using_cam_mount" default="true"/>
	<xacro:arg name="offsets_file_path" default=""/>

	<xacro:include filename="$(find motoman_ma1440_mh185_rotisserie_support)/urdf/ma1440_mh185_rotisserie_macro.xacro" />
	<xacro:motoman_ma1440_mh185_rotisserie
			ma1440_xyz="$(arg ma1440_xyz)"
			ma1440_rpy="$(arg ma1440_rpy)"
			mh185_xyz="$(arg mh185_xyz)"
			mh185_rpy="$(arg mh185_rpy)"
			using_cam_mount="$(arg using_cam_mount)"
			offsets_file_path="$(arg offsets_file_path)"
	/>
</robot>
