<?xml version="1.0" ?>

 <robot name="motoman_ma1440_d500" xmlns:xacro="http://ros.org/wiki/xacro">
	<xacro:arg name="ma1440_xyz" default=""/>
	<xacro:arg name="ma1440_rpy" default=""/>
	<xacro:arg name="d500_xyz" default=""/>
	<xacro:arg name="d500_rpy" default=""/>
	<xacro:arg name="table_thickness" default=""/>
	<xacro:arg name="use_structured_light_gantry" default=""/>

	<xacro:arg name="offsets_file_path" default=""/>
	<xacro:arg name="mount_type" default=""/>

	<xacro:include filename="$(find motoman_ma1440_d500_support)/urdf/ma1440_d500_macro.xacro"/>
	<xacro:motoman_ma1440_d500
			ma1440_xyz="$(arg ma1440_xyz)"
			ma1440_rpy="$(arg ma1440_rpy)"
			d500_xyz="$(arg d500_xyz)"
			d500_rpy="$(arg d500_rpy)"
			table_thickness="$(arg table_thickness)"
			use_structured_light_gantry="$(arg use_structured_light_gantry)"

			offsets_file_path="$(arg offsets_file_path)"
			mount_type="$(arg mount_type)"
	/>
</robot>