<?xml version="1.0" ?>
<robot name="motoman_ma1440_d500" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro
      name="motoman_ma1440_d500"
      params=
          "ma1440_xyz
          ma1440_rpy
          d500_xyz
          d500_rpy
          table_thickness
          mount_type
          use_structured_light_gantry
          offsets_file_path"
  >

    <xacro:include filename="$(find motoman_ma1440_support)/urdf/ma1440/ma1440.xacro"/>
    <xacro:load_motoman_ma1440
        world_base_xyz="${ma1440_xyz}"
        world_base_rpy="${ma1440_rpy}"
        offsets_file_path="${offsets_file_path}"
        use_structured_light_gantry="${use_structured_light_gantry}"
        mount_type="${mount_type}"
    />

    <xacro:include filename="$(find motoman_motopos_d500_support)/urdf/motopos_d500.xacro"/>
    <xacro:load_motoman_motopos_d500
        world_base_xyz="${d500_xyz}"
        world_base_rpy="${d500_rpy}"
        table_thickness="${table_thickness}"
        offsets_file_path="${offsets_file_path}"
    />
  </xacro:macro>
</robot>
