<?xml version="1.0" ?>
<!--
  Manipulator specific version of motoman driver's 'robot_interface_streaming.launch'.
  Defaults provided for mh12:
   - 6 joints
  Usage:
    robot_interface_streaming_mh12.launch robot_ip:=<value> controller:=<fs100|dx100>
-->
<launch>
  <arg name="robot_ip" />

  <!-- controller: Controller name (fs100 or dx100) -->
  <arg name="controller"/>

  <rosparam command="load" file="$(find motoman_mh12_support)/config/joint_names_mh12.yaml" />

  <include file="$(find motoman_driver)/launch/robot_interface_streaming_$(arg controller).launch">
    <arg name="robot_ip" value="$(arg robot_ip)" />
  </include>
</launch>
