<!--
  Multigroup, contoller specific version of 'robot_interface.launch'.


  Usage:
    robot_multigroup_interface_streaming_dx100.launch robot_ip:=<value>
-->
<launch>
	<arg name="robot_ip" />
	<arg name="use_bswap" default="false" />

	<include file="$(find motoman_driver)/launch/robot_interface_streaming.launch">
		<arg name="robot_ip"  value="$(arg robot_ip)" />
		<arg name="use_bswap" value="$(arg use_bswap)" />
		<arg name="version0"  value="false" />
	</include>
</launch>
