<launch>
  <!--  DO NOT OVERWRITE THIS FILE WITH THE MOVEIT WIZARD, CHANGE IT BY HAND-->

  <!-- By default we do not overwrite the URDF. Change the following to true to change the default behavior -->
  <arg name="load_robot_description" default="true"/>

  <!-- The name of the parameter under which the URDF is loaded -->
  <arg name="robot_description" default="robot_description"/>

  <arg if="$(arg load_robot_description)" name="offsets_file_path" default=""/>
  <arg if="$(arg load_robot_description)" name="mount_type" default="cam"/>

  <arg if="$(arg load_robot_description)" name="ma1440_xyz" default=""/>
  <arg if="$(arg load_robot_description)" name="ma1440_rpy" default=""/>
  <arg if="$(arg load_robot_description)" name="d500_xyz" default=""/>
  <arg if="$(arg load_robot_description)" name="d500_rpy" default=""/>
  <arg if="$(arg load_robot_description)" name="use_structured_light_gantry" default=""/>
  <arg if="$(arg load_robot_description)" name="table_thickness" default="0"/>
  <arg if="$(arg load_robot_description)" name="use_pedestal" default=""/>

  <!-- Load universal robot description format (URDF) -->
  <param if="$(arg load_robot_description)" name="$(arg robot_description)"
         command="xacro  $(find motoman_ma1440_d500_support)/urdf/ma1440_d500.xacro
         ma1440_xyz:='$(arg ma1440_xyz)'
         ma1440_rpy:='$(arg ma1440_rpy)'
         d500_xyz:='$(arg d500_xyz)'
         d500_rpy:='$(arg d500_rpy)'
         table_thickness:='$(arg table_thickness)'
         mount_type:='$(arg mount_type)'
         use_structured_light_gantry:='$(arg use_structured_light_gantry)'
         use_pedestal:='$(arg use_pedestal)'
         offsets_file_path:='$(arg offsets_file_path)'"/>

  <!-- The semantic description that corresponds to the URDF -->
  <param name="$(arg robot_description)_semantic"
         textfile="$(find motoman_ma1440_d500_moveit_config)/config/motoman_ma1440_d500.srdf"/>

  <!-- Load updated joint limits (override information from URDF) -->
  <group ns="$(arg robot_description)_planning">
    <rosparam command="load" file="$(find motoman_ma1440_d500_moveit_config)/config/joint_limits.yaml"/>
  </group>

  <!-- Load default settings for kinematics; these settings are overridden by settings in a node's namespace -->
  <group ns="$(arg robot_description)_kinematics">
    <rosparam command="load" file="$(find motoman_ma1440_d500_moveit_config)/config/kinematics.yaml"/>
  </group>

</launch>
