
<launch>
	<arg name="mount_type" value="cam"/>
    <arg name="use_structured_light_gantry" value="false"/>
	<arg name="ma1440_xyz" value="0 0 0"/>
	<arg name="ma1440_rpy" value="0 0 0"/>
	<arg name="mh185_vertical_xyz" value="1 0 0"/>
	<arg name="mh185_vertical_rpy" value="0 0 0"/>
	<arg name="use_pedestal" value="false"/>

    <param name="robot_description"
         command="xacro $(find motoman_ma1440_mh185_vertical_support)/urdf/ma1440_mh185_vertical.xacro
         ma1440_xyz:='$(arg ma1440_xyz)'
         ma1440_rpy:='$(arg ma1440_rpy)'
         mh185_vertical_xyz:='$(arg mh185_vertical_xyz)'
         mh185_vertical_rpy:='$(arg mh185_vertical_rpy)'
         use_structured_light_gantry:='$(arg use_structured_light_gantry)'
         use_pedestal:='$(arg use_pedestal)'
         mount_type:='$(arg mount_type)'"/>
</launch>
