
<launch>
	<arg name="using_cam_mount" value="false"/>
	<arg name="ma1440_xyz" value="0 0 0"/>
	<arg name="ma1440_rpy" value="0 0 0"/>
	<arg name="mh185_vertical_xyz" value="1 0 0"/>
	<arg name="mh185_vertical_rpy" value="0 0 0"/>

    <param name="robot_description"
         command="xacro $(find motoman_ma1440_mh185_vertical)/urdf/ma1440_mh185_vertical.xacro
         ma1440_xyz:='$(arg ma1440_xyz)'
         ma1440_rpy:='$(arg ma1440_rpy)'
         mh185_vertical_xyz:='$(arg mh185_vertical_xyz)'
         mh185_vertical_rpy:='$(arg mh185_vertical_rpy)'
         using_cam_mount:='$(arg using_cam_mount)'"/>
</launch>
