<launch>
    <node pkg="move_arm" type="move_arm_simple_action" name="mh5_mesh_move_arm">
        <param name="group" type="string" value="manipulator" />
        <remap from="arm_ik" to="mh5_mesh_arm_kinematics/get_constraint_aware_ik" />
        <param name="controller_action_name" type="string" value="arm_controller/follow_joint_trajectory" />
    </node>
</launch>
