<?xml version="1.0" ?>
<robot name="motoman_motopos_mh1655" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Properties -->
  <material name="yaskawa_blue">
    <color rgba="0.12941 0.14902 0.74902 1" />
  </material>

  <xacro:include filename="$(find motoman_motopos_mh1655_support)/urdf/motopos_mh1655_macro.xacro" />
  <xacro:property name="kinematics_offsets" value="${load_yaml('$(find motoman_motopos_mh1655_support)' + '/config/default_kinematic_offsets.yaml')}"/>
  <xacro:motoman_motopos_d500 prefix="" kinematic_offsets="${kinematics_offsets['kinematic_offsets']}"/>
  <xacro:motoman_motopos_mh1655 prefix="" use_pedestal="false"/>
</robot>
