<!--
  Manipulator specific version of the state visualizer.

  Defaults provided for sia50:
   - 7 joints

  Usage:
    robot_state_visualize_sia50.launch robot_ip:=<value> controller:=<dx100>
-->
<launch>
  <arg name="robot_ip" doc="IP of controller" />

  <!-- controller: Controller name (dx100) -->
  <arg name="controller" default="dx100" doc="Series of the controller (default: dx100)" />

  <rosparam command="load" file="$(find motoman_sia50_support)/config/joint_names_sia50.yaml" />

  <include file="$(find motoman_driver)/launch/robot_state_$(arg controller).launch">
    <arg name="robot_ip" value="$(arg robot_ip)" />
  </include>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <include file="$(find motoman_sia50_support)/launch/load_sia50.launch" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find industrial_robot_client)/config/robot_state_visualize.rviz" required="true" />
</launch>
