<?xml version="1.0" ?>

<robot name="motoman_ma1440" xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:include filename="$(find motoman_ma1440_support)/urdf/ma1440/ma1440_macro.xacro" />
    <xacro:macro
        name="load_motoman_ma1440"
        params="
            prefix:=ma1440_
            world_base_xyz
            world_base_rpy
            mount_type
            use_structured_light_gantry
            offsets_file_path:='$(find motoman_ma1440_support)/config/robot_calibration_offsets.yaml'">
        <xacro:unless value="${offsets_file_path == ''}">
            <xacro:motoman_ma1440
                prefix="${prefix}"
                world_base_xyz="${world_base_xyz}"
                world_base_rpy="${world_base_rpy}"
                offsets_file_path="${offsets_file_path}"
            />
        </xacro:unless>
        <xacro:if value="${offsets_file_path == ''}">
            <xacro:motoman_ma1440
                prefix="${prefix}"
                world_base_xyz="${world_base_xyz}"
                world_base_rpy="${world_base_rpy}"
                offsets_file_path="'$(find motoman_ma1440_support)/config/robot_calibration_offsets.yaml'"
            />
        </xacro:if>

        <xacro:if value="${use_structured_light_gantry}">
            <xacro:include filename="$(find motoman_ma1440_support)/urdf/structured_light_gantry/structured_light_gantry.xacro" />
            <xacro:structured_light_gantry_load/>
            <joint name="gantry_mount_joint" type="fixed">
                <origin xyz="2.2 -1.35 0" rpy="0 0 ${M_PI/2}" />
                <parent link="world" />
                <child link="structured_light_gantry_link" />
                <axis xyz="0 0 0" />
            </joint>
        </xacro:if>

        <!-- optionally add the cam mount to the end of the arm, this is the laser scanner enclosure used on the Corsa system -->
        <xacro:if value="${mount_type =='cam'}">
            <xacro:include filename="$(find motoman_ma1440_support)/urdf/cam_mount/cam_mount.xacro" />
            <xacro:cam_mount_load prefix="${prefix}"/>
            <joint name="joint_cam_mount" type="fixed">
                <origin xyz="0 0 -0.0735" rpy="${M_PI} 0 ${M_PI/2}" />
                <parent link="${prefix}link_t" />
                <child link="${prefix}cam_mount_link" />
                <axis xyz="0 0 0" />
            </joint>
        </xacro:if>

        <!-- optionally add chessboard to the end of the arm, replacing the welder tip -->
        <xacro:if value="${mount_type =='chess_front'}">
            <link name="${prefix}link_chessboard">
                <visual>
                    <origin rpy="0 0 0" xyz="0 0 -0.07" />
                    <geometry>
                        <box size="0.26 0.45 0.15" />
                    </geometry>
                    <material name="silver" />
                </visual>
                <collision>
                    <origin rpy="0 0 0" xyz="0 0 -0.07" />
                    <geometry>
                        <box size="0.26 0.45 0.15" />
                    </geometry>
                    <material name="silver" />
                </collision>
                <inertial>
                    <mass value="0.0" />
                    <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
                    <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0" />
                </inertial>
            </link>

            <joint name="joint_chessboard" type="fixed">
                <origin xyz="0 0 0" rpy="0 0 0" />
                <parent link="${prefix}link_t" />
                <child link="${prefix}link_chessboard" />
                <axis xyz="0 0 0" />
            </joint>
        </xacro:if>

        <!-- optionally add chessboard on a cam mount above the welder tip -->
        <xacro:if value="${mount_type =='chess'}">
            <link name="${prefix}link_chessboard">
                <visual>
                    <origin rpy="0 0 0" xyz="0.08 0 -0.09" />
                    <geometry>
                        <box size="0.08 0.26 0.18" />
                    </geometry>
                    <material name="silver">
                        <color rgba="0.75 0.75 0.75 0.5"/>
                    </material>
                </visual>
                <collision>
                    <origin rpy="0 0 0" xyz="0.07 0 -0.09" />
                    <geometry>
                        <box size="0.06 0.26 0.18" />
                    </geometry>
                    <material name="silver">
                        <color rgba="0.75 0.75 0.75 0.5"/>
                    </material>
                </collision>
                <inertial>
                    <mass value="0.0" />
                    <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
                    <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0" />
                </inertial>
            </link>

            <joint name="joint_chessboard" type="fixed">
                <origin xyz="0 0 0" rpy="0 0 0" />
                <parent link="${prefix}link_t" />
                <child link="${prefix}link_chessboard" />
                <axis xyz="0 0 0" />
            </joint>

            <link name="${prefix}link_collar">
                <visual>
                    <origin rpy="0 0 0" xyz="0 0 -0.027" />
                    <geometry>
                        <cylinder length="0.054" radius="0.09"/>
                    </geometry>
                    <material name="black">
                        <color rgba="0 0 0 0.5"/>
                    </material>
                </visual>
                <collision>
                    <origin rpy="0 0 0" xyz="0 0 -0.027" />
                    <geometry>
                        <cylinder length="0.054" radius="0.09"/>
                    </geometry>
                    <material name="black">
                        <color rgba="0 0 0 1"/>
                    </material>
                </collision>
                <inertial>
                    <mass value="0.0" />
                    <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
                    <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0" />
                </inertial>
            </link>

            <joint name="joint_collar" type="fixed">
                <origin xyz="0 0 0" rpy="0 0 0" />
                <parent link="${prefix}link_t" />
                <child link="${prefix}link_collar" />
                <axis xyz="0 0 0" />
            </joint>
        </xacro:if>
        
        <!-- optionally add the laser mount to the end of the arm and define all of its additional frames -->
        <xacro:if value="${mount_type=='laser'}">
            <xacro:include filename="$(find motoman_ma1440_support)/urdf/laser_mount/laser_mount.xacro" />
            <xacro:laser_mount_load prefix="${prefix}"/>
            <joint name="joint_laser_mount" type="fixed">
                <origin xyz="0 0 -0.0735" rpy="${M_PI} 0 ${M_PI/2}" />
                <parent link="${prefix}link_t" />
                <child link="${prefix}laser_mount_center_link" />
                <axis xyz="0 0 0" />
            </joint>
            <joint name="joint_laser_center_to_receiver_1" type="fixed">
                <origin xyz="0.0807 0.0777 -0.0508" rpy="0 0 0"/>
                <parent link="${prefix}laser_mount_center_link"/>
                <child link ="${prefix}laser_1_receiver_dummy_link"/>
                <axis xyz="0 0 0"/>
            </joint>
            <joint name="joint_laser_center_to_receiver_2" type="fixed">
                <origin xyz="-0.0807 0.0777 -0.0508" rpy="0 0 0"/>
                <parent link="${prefix}laser_mount_center_link"/>
                <child link ="${prefix}laser_2_receiver_dummy_link"/>
                <axis xyz="0 0 0"/>
            </joint>
            <joint name="joint_laser_center_to_emitter_1" type="fixed">
                <origin xyz="0.06788 -0.023345 -0.0508" rpy="0 0 0"/>
                <parent link="${prefix}laser_mount_center_link"/>
                <child link ="${prefix}laser_1_emitter_dummy_link"/>
                <axis xyz="0 0 0"/>
            </joint>
            <joint name="joint_laser_center_to_emitter_2" type="fixed">
                <origin xyz="0.03370 -0.063387 -0.0508" rpy="0 0 0"/>
                <parent link="${prefix}laser_mount_center_link"/>
                <child link ="${prefix}laser_2_emitter_dummy_link"/>
                <axis xyz="0 0 0"/>
            </joint>
            <joint name="joint_laser_center_to_emitter_3" type="fixed">
                <origin xyz="-0.03370 -0.063387 -0.0508" rpy="0 0 0"/>
                <parent link="${prefix}laser_mount_center_link"/>
                <child link ="${prefix}laser_3_emitter_dummy_link"/>
                <axis xyz="0 0 0"/>
            </joint>
            <joint name="joint_laser_center_to_emitter_4" type="fixed">
                <origin xyz="-0.06788 -0.023345 -0.0508" rpy="0 0 0"/>
                <parent link="${prefix}laser_mount_center_link"/>
                <child link ="${prefix}laser_4_emitter_dummy_link"/>
                <axis xyz="0 0 0"/>
            </joint>
            <joint name="joint_laser_center_to_receiver_3" type="fixed">
                <origin xyz="0.0 -0.093345 -0.0508" rpy="0 0 0"/>
                <parent link="${prefix}laser_mount_center_link"/>
                <child link ="${prefix}laser_3_receiver_dummy_link"/>
                <axis xyz="0 0 0"/>
            </joint>
        </xacro:if>
    </xacro:macro>
</robot>
