<?xml version="1.0" ?>
<!--
  Manipulator specific version of the state visualizer.

  Usage:
    robot_state_visualize_es200_120.launch robot_ip:=<value> controller:=<value>
-->
<launch>
  <arg name="robot_ip" />
  <arg name="controller" />

  <rosparam command="load" file="$(find motoman_es_support)/config/joint_names.yaml" />

  <include file="$(find motoman_driver)/launch/robot_interface_streaming_$(arg controller).launch">
    <arg name="robot_ip" value="$(arg robot_ip)" />
  </include>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <include file="$(find motoman_es_support)/launch/load_es200_120.launch" >
    <arg name="controller" value="$(arg controller)"/>
  </include>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find industrial_robot_client)/config/robot_state_visualize.rviz" required="true" />
</launch>
