<!--
  Manipulator specific version of 'robot_interface_streaming.launch'.

  Defaults provided for GP8L:
   - 7 joints

  Usage:
    robot_interface_streaming_gp8l.launch robot_ip:=<value> controller:=<yrc1000>
-->
<launch>
  <arg name="robot_ip" />

  <!-- controller: Controller name (yrc1000) -->
  <arg name="controller"/>

  <rosparam command="load" file="$(find motoman_gp8l_support)/config/joint_names_gp8l.yaml" />

  <include file="$(find motoman_driver)/launch/robot_interface_streaming_$(arg controller).launch">
    <arg name="robot_ip" value="$(arg robot_ip)" />
  </include>
</launch>
