<launch>
  <!-- By default we do not overwrite the URDF. Change the following to true to change the default behavior -->
  <arg name="load_robot_description" default="false"/>

  <!-- The name of the parameter under which the URDF is loaded -->
  <arg name="robot_description" default="robot_description"/>

  <!-- Load universal robot description format (URDF) -->
  <param if="$(arg load_robot_description)" name="$(arg robot_description)" command="xacro ma1440_xyz:='0 0 0' ma1440_rpy:='0 0 0' mh185_vertical_xyz:='1 0 0' mh185_vertical_rpy:='0 0 1.57079632695' using_cam_mount:=true '$(find motoman_ma1440_mh185_vertical_support)/urdf/ma1440_mh185_vertical.xacro'"/>

  <!-- The semantic description that corresponds to the URDF -->
  <param name="$(arg robot_description)_semantic" textfile="$(find motoman_ma1440_mh185_vertical_moveit_config)/config/motoman_ma1440_mh185_vertical.srdf" />

  <!-- Load updated joint limits (override information from URDF) -->
  <group ns="$(arg robot_description)_planning">
    <rosparam command="load" file="$(find motoman_ma1440_mh185_vertical_moveit_config)/config/joint_limits.yaml"/>
  </group>

  <!-- Load default settings for kinematics; these settings are overridden by settings in a node's namespace -->
  <group ns="$(arg robot_description)_kinematics">
    <rosparam command="load" file="$(find motoman_ma1440_mh185_vertical_moveit_config)/config/kinematics.yaml"/>
  </group>

</launch>
