<?xml version="1.0" ?>

<robot name="motoman_ma1440_d500_test" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find motoman_ma1440_d500_support)/urdf/ma1440_d500_macro.xacro" />
  <xacro:motoman_ma1440_d500 prefix="arm"/>
  
  <!-- <joint name="base_link_joint" type="fixed" >
    <origin xyz="1.0 0 0"/>
    <parent link="torso_base_link" />
    <child link="my_prefix_torso_base_link" />
  </joint> -->
  
</robot>

