<?xml version='1.0' encoding='ASCII'?>
<launch>
  <include file="$(find sia20d_mesh_arm_navigation)/launch/sia20d_mesh_planning_environment.launch"/>
  <node pkg="arm_kinematics_constraint_aware" type="arm_kinematics_constraint_aware" name="sia20d_mesh_manipulator_kinematics">
    <param name="group" type="string" value="manipulator"/>
    <param name="manipulator/root_name" type="string" value="base_link"/>
    <param name="manipulator/tip_name" type="string" value="link_t"/>
    <param name="kinematics_solver" type="string" value="arm_kinematics_constraint_aware/KDLArmKinematicsPlugin" />
    <param name="kinematics_solver_DEPRECATED" type="string" value="sia20d_mesh_manipulator_kinematics/IKFastKinematicsPlugin"/>
  </node>
</launch>
