<launch>
  <include file="$(find sia5_description)/launch/load.launch" />
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
	<node name="rviz" pkg="rviz" type="rviz" />
	<param name="use_gui" value="true" />

</launch>
