
<!--
  Manipulator specific version of 'robot_interface_streaming.launch'.

  Defaults provided for ma1440_mh185_rotisserie:
   - 7 joints

  Usage:
    robot_interface_streaming_mh185_rotisserie.launch robot_ip:=<value> controller:=<dx200>
-->
<launch>
  <arg name="robot_ip" doc="IP of controller" />
	
  <!-- controller: Controller name (fs100 or dx100) -->
  <arg name="controller" doc="Series of the controller (dx100, dx200, fs100 or yrc1000)" />

  <rosparam command="load" file="$(find motoman_ma1440_mh185_rotisserie_support)/config/ma1440_mh185_rotisserie_motion_interface.yaml" />

  <include file="$(find motoman_driver)/launch/robot_multigroup_interface_streaming_$(arg controller).launch">
    <arg name="robot_ip"   value="$(arg robot_ip)" />
	</include>
</launch>
